<?xml version="1.0"?>
<!--
/**
 * @author TargetBay
 * @copyright Copyright (c) 2016 Targetbay 
 * @package Targetbay tracking
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Targetbay_Tracking" setup_version="2.1.9" active="true" />
</config>

